<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Delivery service</title>
        <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""
        />
        <!-- скрипт карты -->
        <script
            src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""
        ></script>
    </head>
    <body>
        <script>
            const userAction = async () => {
                const response = await fetch("http://0.0.0.0:8000/cargo", {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json",
                    },
                });
                const myJson = await response.json(); //extract JSON from the http response
                alert(JSON.stringify(myJson));
                // do something with myJson
            };
        </script>
        <div id="map"></div>
    </body>
</html>
